*{
    box-sizing: border-box;
}

div#datos{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

div#datos input{
    margin: .5rem;
    height: 3vh;
    border:none;
    border-bottom: black solid 1px;
}

div#datos input::placeholder{
   color: black
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}