body{
    font-family: 'Roboto', 'sans-serif';
}

a{
 text-decoration: none;
 color:black;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

form input, button, a {
    margin-top: 1em;
    height: 3rem;
}


form input{
    width: 150%;
    border: none;
    border-bottom: 1px solid gray;
}

section form button{
    color : rgb(226, 175, 7);
    border-radius: 18px;
    background-color: black;
}
