*{
    box-sizing: border-box;
}

body{
    background-color: rgb(146, 241, 253);
    padding: 0;
    margin: 0;
}

nav#menu{
    position: absolute;
    left: -50%;
    transition: left 1s 0s;
}

div#contenido{
    display: flex;
    flex-direction: row;
}

input#hamburguer-icon{
    display: none;
}

div#contenido label{
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: 6rem;
    background-color: darkslategrey;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
    align-items: center;
    transition: margin-left 1s ease;
}


div#contenido label span.hamburguer-line{
    width: 4rem;
    height: .4rem;
    background: white;
    margin-top: 1.2rem;
}


div#contenido input#hamburguer-icon:checked ~ nav#menu {
    width: 50%;
    flex-direction: column;
    left: 0%;
    background-color: darkslategrey;
    height: 100vh;
}

div#contenido input#hamburguer-icon:checked ~ nav#menu ul {
    list-style:none;
    padding: 0;
}

div#contenido input#hamburguer-icon:checked ~ label {
    margin-left:50%;
}

div#contenido nav#menu ul li{
    padding: 1rem;
    color: white;
    text-align: center;
    border-bottom: solid 1px white;
    font-size:x-large;
}

div#contenido nav#menu ul li:nth-child(1){
    margin-top: 7rem;
    border-top: 1px solid white
}








