* {
    box-sizing: border-box;
}

/* etiquetas globales */

body {
    font-size: 16px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

div#contenido {
    display: flex;
    flex-direction: column;
}

/* HEADER */

div#contenido header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Logo */
div#contenido header picture img {
    width: 100%;
    height: auto;
    max-width: 300px;
}

div#contenido header picture {
    flex: 0 50%;
}

/* Bloque Iconos */
div#contenido header nav#bloque-iconos {
    flex: 0 50%;
}

div#contenido header nav#bloque-iconos ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

div#contenido header nav#bloque-iconos ul li {
    font-size: 3rem;
    padding-left: 2rem;
}

/* Menu principal */
div#contenido header nav#menu-principal {
    flex: 0 100%;
}

div#contenido header nav#menu-principal div#hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

div#contenido header nav#menu-principal div#hamburguesa span {
    color: white;
    font-size: 2rem;
}

div#contenido header nav#menu-principal ul {
    display: none;
}

/* main */

/* section form-contacto */
div#contenido main section#form-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* form contacto */
div#contenido main section#form-contacto form#contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#contenido main section#form-contacto form#contacto input,
select {
    font-weight: bold;
    width: 100%;
    margin: 0.5rem;
    height: 3vh;
    border-radius: 0.3rem;
}

div#contenido main section#form-contacto form#contacto select {
    background-color: lightgray;
}

div#contenido main section#form-contacto form#contacto input:focus {
    font-weight: bold;
    background-color: black;
    color: white;
}

div#contenido main section#form-contacto form#contacto textarea {
    resize: none;
}

div#contenido main section#form-contacto form#contacto span#caracteres {
    align-self: flex-start;
    color: gray;
}

div#contenido main section#form-contacto form#contacto input[type="button"] {
    background-color: black;
    color: white;
}

div#contenido main section#form-contacto form#contacto label {
    display: none;
}

div#contenido footer {
    display: none;
}