*{box-sizing: border-box;}

body{
    font-family: 'Roboto','San Serif';
    font-weight: bold;
}

form#form-login *{
    border: none;
}

form#form-login *::placeholder, select{
    color : black;
    font-weight: bold;
}

form#form-login input{
    border-bottom: solid 1px gray;
}

form#form-login{
    display: flex;
    flex-flow: column;
}

form#form-login>*{
    margin-top: 20px;
    height: 30px;
}

form#form-login button{
    width: 200px;
    height: 65px;
    border-radius: 30px;
    background-color: black;
    color: rgb(165, 126, 42);
    font-weight: bold;
}


@media(min-width:720px){
    form#form-login{
        align-items: center;
    }

    form#form-login>*{
        width: 720px;
    }
}

