*{
    box-sizing: border-box;
}

label input#hamburguer-icon{
    display: none;
}

label{
    display: inline-block;
    position: relative;
    width: 6rem;
    height: 6rem;
    background-color: aqua;
    cursor: pointer;
}

label span.hamburguer-line{
    position:absolute;
    width: 4rem;
    height: .4rem;
    background: white;
}
/* posicion incial */
label span.hamburguer-line:nth-child(2){
    top: 1.33rem;
    left: 1rem;
    transition: top 1s 1s, transform 1s 0s;
}

label span.hamburguer-line:nth-child(3){
    top: 2.66rem;
    left: 1rem;
    transition: background 1s;
}

label span.hamburguer-line:nth-child(4){
    top: 3.99rem;
    left: 1rem;
    transition: top 1s 1s, transform 1s 0s;
}

/* posicion transicion */
label input#hamburguer-icon:checked ~ span.hamburguer-line:nth-child(2){
    top: 2.66rem;
    transform: rotate(45deg);
    transition: top 1s 0s, transform 1s 1s;
}

label input#hamburguer-icon:checked ~ span.hamburguer-line:nth-child(3){
    background: none;
}

label input#hamburguer-icon:checked ~ span.hamburguer-line:nth-child(4){
    top: 2.66rem;
    transform: rotate(-45deg);
    transition: top 1s 0s, transform 1s 1s;
}





