*{
    box-sizing: border-box;
}

.columns{
    background-image: url("../images/99.jpg");
}

img{
    transition: transform 1s 0s;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

div ul li:nth-child(even){
    transition: transform 1s 0s;
    transform: rotate(6deg);
}

div ul li:nth-child(odd){
    transition: transform 1s 0s;
    transform: rotate(-6deg);
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
}

ul li{
    display: flex;
    flex-direction: column;
    flex: 0 16%;
    background-color: white;
}

ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem .5rem 1rem .5rem;
    text-decoration: none;
}

ul li a[title]::after{
    content: attr(title);
    color: black;
}

div ul li:nth-child(even):hover{
    transform: rotate(0deg);
}

div ul li:nth-child(even):hover a img{
    transform: scale(1.1)
}

div ul li:nth-child(odd):hover{
    transform: rotate(0deg);
}

div ul li:nth-child(odd):hover a img{
    transform: scale(1.1);
}




